---
interface Props {
  title: string;
  description: string;
  imageUrl: string;
  link: string;
}
const { title, description, imageUrl, link }: Props = Astro.props;
---

<div class="bg-white rounded-xl shadow-md overflow-hidden flex flex-col">
  <!-- Imagen -->
  <div class="overflow-hidden">
    <img
      src={imageUrl}
      alt={title}
      class="object-cover transform hover:scale-110 transition-transform duration-500 ease-in-out h-72 w-full"
      loading="lazy"
      decoding="async"
    />
  </div>
  <!-- Contenido -->
  <div class="p-4 flex flex-col flex-grow">
    <h3 class="text-lg font-semibold text-gray-800 mb-2">{title}</h3>
    <p class="text-gray-600 text-sm flex-grow">{description}</p>
    <a
      arial-label={`Ver más sobre ${title}`}
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      class="mt-4 inline-block bg-red-100/60 hover:bg-red-100 text-red-800 text-sm font-medium px-4 py-2 rounded-lg transition-colors duration-300 self-start"
    >
      Leer más...
    </a>
  </div>
</div>
